# Project Data Sample Review

In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter
%matplotlib inline
pd.set_option('max_rows',300)

In [4]:
projects=pd.read_csv('../../Data/EWS_Published Project_Listing_DD.csv', encoding='ISO-8859-1')
projects = projects[projects['EWS ID'].notnull()]

In [5]:
projects.shape

(6847, 62)

** Null Check **

In [6]:
projects.count()/len(projects.index)

EWS ID                   1.000000
ProjectNumber            0.998832
Published                0.998832
Bank Risk Rating         0.998832
Project Status           0.936469
EWS URL                  0.998832
Detailed Analysis URL    0.000000
Project Name             0.998686
City                     0.169563
Country Count            0.998832
Country 1                0.908719
Country 2                0.035782
Country 3                0.019863
Country 4                0.011830
Country 5                0.007741
Country 6                0.005112
Country 7                0.003359
Country 8                0.001899
Country 9                0.001607
Country 10               0.001460
Country 11               0.001022
Country 12               0.000584
Borrower or Client       0.760917
Private Actor Count      0.997955
Private Actor 1          0.077114
Private Actor 2          0.017964
Private Actor 3          0.006572
Private Actor 4          0.003067
Private Actor 5          0.002191
Private Actor 6          0.000876
Private Actor 7          0.000146
Private Actor 8          0.000146
Private Actor 9          0.000000
Private Actor 10         0.000000
Private Actor 11         0.000000
Private Actor 12         0.000000
Private Actor 13         0.000000
Private Actor 14         0.000000
Private Actor 15         0.000000
Bank Count               0.998832
Bank 1                   0.998832
Bank 2                   0.009347
Bank 3                   0.001753
Bank 4                   0.000584
Bank 5                   0.000000
Sector Count             0.998832
Sector 1                 0.822696
Sector 2                 0.311815
Sector 3                 0.096539
Sector 4                 0.024098
Sector 5                 0.006572
Sector 6                 0.002045
Sector 7                 0.000438
Last Edited              0.895429
Date Scraped             0.998832
Date Disclosed           0.811304
Board Date               0.794362
Source URL               0.997663
Project Cost             0.660873
Investment Amount        0.864904
Project Description      0.891193
Contact Information      0.855557
dtype: float64

## Project Description Column will Likely Be most Useful for Matching

**Notes**
    * Some descriptions are pretty short - not sure how easy it will be to match to those
    * Some of the other fields will likely be useful (Country, Borrower or Client, etc.)

In [7]:
# for i in projects.sample(15)['Project Description']:
#     print(i)
#     print('*****\n')

## Looking at the Sector Data 

This could be a dataset that could help in the tagging of the news articles with (Sector Infortmation)

In [8]:
def get_category_cols(category, additional_removes=None):
    cols = [i for i in projects.columns if category in i]
    cols.remove(category + ' Count')
    if additional_removes:
        [cols.remove(i) for i in additional_removes]
    return cols

sector_cols = get_category_cols('Sector')   
all_sectors = projects[sector_cols].as_matrix().flatten()

In [9]:
for i in Counter(all_sectors): print(i)

Agriculture and Forestry
nan
Infrastructure
Transport
Construction
Humanitarian Response
Industry and Trade
Water and Sanitation
Education and Health
Law and Government
Energy
Hydropower
Climate and Environment
Finance
Mining
Communications
Technical Cooperation

# NOTE

Might be able to use this to also classify the Bank and Country

**Countries**

In [10]:
country_cols = get_category_cols('Country')
all_countries = projects[country_cols].as_matrix().flatten()
country_counter = Counter(all_countries)
print(len(country_counter))
country_counter

180

Counter({'Afghanistan': 48,
         'Albania': 27,
         'Algeria': 3,
         'Angola': 8,
         'Argentina': 163,
         'Armenia': 50,
         'Austria': 24,
         'Azerbaijan': 31,
         'Bahamas': 30,
         'Bangladesh': 140,
         'Barbados': 14,
         'Belarus': 17,
         'Belgium': 25,
         'Belize': 17,
         'Benin': 13,
         'Bhutan': 36,
         'Bolivia': 106,
         'Bosnia and Herzegovina': 34,
         'Botswana': 5,
         'Brazil': 213,
         'Bulgaria': 22,
         'Burkina Faso': 23,
         'Burundi': 9,
         'Cambodia': 72,
         'Cameroon': 26,
         'Canada': 1,
         'Cape Verde': 6,
         'Central African Republic': 16,
         'Chad': 17,
         'Chile': 82,
         'China': 255,
         'Colombia': 168,
         'Comoros': 2,
         'Congo, Democratic Republic of': 26,
         'Congo, Republic of': 9,
         'Cook Islands': 1,
         'Costa Rica': 49,
         'Croatia': 37,
         'Cyprus': 5,
         'Czech Republic': 26,
         'Denmark': 21,
         'Djibouti': 10,
         'Dominica': 3,
         'Dominican Republic': 47,
         'Ecuador': 113,
         'Egypt': 134,
         'El Salvador': 43,
         'Equatorial Guinea': 2,
         'Estonia': 5,
         'Ethiopia': 37,
         'Fiji': 20,
         'Finland': 32,
         'France': 104,
         'Gabon': 7,
         'Gambia': 8,
         'Georgia': 82,
         'Germany': 72,
         'Ghana': 44,
         'Greece': 59,
         'Grenada': 3,
         'Guatemala': 51,
         'Guinea': 17,
         'Guinea-Bissau': 6,
         'Guyana': 42,
         'Haiti': 50,
         'Honduras': 61,
         'Hungary': 25,
         'Iceland': 2,
         'India': 291,
         'Indonesia': 103,
         'Iraq': 11,
         'Ireland': 20,
         'Italy': 118,
         'Ivory Coast': 34,
         'Jamaica': 50,
         'Japan': 1,
         'Jordan': 53,
         'Kazakhstan': 65,
         'Kenya': 64,
         'Kiribati': 11,
         'Kosovo': 15,
         'Kyrgyzstan': 38,
         'Laos': 44,
         'Latvia': 10,
         'Lebanon': 26,
         'Lesotho': 9,
         'Liberia': 20,
         'Lithuania': 11,
         'Luxembourg': 4,
         'Macedonia': 7,
         'Madagascar': 29,
         'Malawi': 17,
         'Malaysia': 6,
         'Maldives': 12,
         'Mali': 22,
         'Malta': 4,
         'Marshall Islands': 11,
         'Mauritania': 9,
         'Mauritius': 6,
         'Mexico': 137,
         'Micronesia': 7,
         'Moldova': 23,
         'Mongolia': 104,
         'Montenegro': 17,
         'Morocco': 34,
         'Mozambique': 16,
         'Myanmar': 85,
         'Namibia': 8,
         'Nauru': 9,
         'Nepal': 47,
         'Netherlands': 38,
         'New Caledonia': 1,
         'Nicaragua': 69,
         'Niger': 12,
         'Nigeria': 59,
         'Norway': 3,
         'Oman': 3,
         'Pakistan': 130,
         'Palau': 5,
         'Palestine, West Bank, Gaza': 15,
         'Panama': 66,
         'Papua New Guinea': 24,
         'Paraguay': 91,
         'Peru': 129,
         'Philippines': 71,
         'Poland': 118,
         'Portugal': 32,
         'Romania': 67,
         'Russia': 5,
         'Rwanda': 36,
         'Samoa': 13,
         'Sao Tome and Principe': 6,
         'Saudi Arabia': 2,
         'Senegal': 40,
         'Serbia': 41,
         'Seychelles': 1,
         'Sierra Leone': 19,
         'Singapore': 4,
         'Slovakia': 22,
         'Slovenia': 9,
         'Solomon Islands': 24,
         'Somalia': 7,
         'South Africa': 42,
         'South Korea': 1,
         'South Sudan': 8,
         'Spain': 105,
         'Sri Lanka': 74,
         'St. Lucia': 3,
         'St. Vincent and the Grenadines': 2,
         'Sudan': 3,
         'Suriname': 25,
         'Swaziland': 3,
         'Sweden': 26,
         'Switzerland': 1,
         'Taiwan': 1,
         'Tajikistan': 49,
         'Tanzania': 34,
         'Thailand': 22,
         'Timor-Leste': 14,
         'Togo': 12,
         'Tonga': 16,
         'Trinidad and Tobago': 9,
         'Tunisia': 40,
         'Turkey': 150,
         'Turkmenistan': 9,
         'Tuvalu': 10,
         'Uganda': 30,
         'Ukraine': 56,
         'United Arab Emirates': 1,
         'United Kingdom': 30,
         'United States of America': 1,
         'Uruguay': 82,
         'Uzbekistan': 66,
         'Vanuatu': 16,
         'Venezuela': 9,
         'Vietnam': 105,
         'Yemen': 9,
         'Zambia': 40,
         'Zimbabwe': 10,
         nan: 75324})

**Banks**

In [11]:
banks_cols = get_category_cols('Bank', ['Bank Risk Rating'])
all_banks = projects[banks_cols].as_matrix().flatten()
all_banks = [i for i  in all_banks if  pd.notnull(i)] ## Something weird with the nulls in this one. 
banks_counter = Counter(all_banks)
print(len(banks_counter))
banks_counter

13

Counter({'African Development Bank (AFDB)': 86,
         'Asian Development Bank (ADB)': 1159,
         'Asian Infrastructure Investment Bank (AIIB)': 62,
         'European Bank for Reconstruction and Development (EBRD)': 496,
         'European Investment Bank (EIB)': 1029,
         'Green Climate Fund (GCF)': 72,
         'Inter-American Development Bank (IADB)': 1585,
         'Inter-American Investment Corporation (IIC)': 135,
         'International Finance Corporation (IFC)': 1057,
         'Multilateral Investment Guarantee Agency (MIGA)': 88,
         'Netherlands Development Finance Company (FMO)': 249,
         'New Development Bank (NDB)': 13,
         'World Bank (WB)': 888})

In [12]:
for b in banks_counter: print(b)

World Bank (WB)
Inter-American Investment Corporation (IIC)
African Development Bank (AFDB)
New Development Bank (NDB)
Asian Infrastructure Investment Bank (AIIB)
Green Climate Fund (GCF)
Multilateral Investment Guarantee Agency (MIGA)
Inter-American Development Bank (IADB)
European Bank for Reconstruction and Development (EBRD)
European Investment Bank (EIB)
Netherlands Development Finance Company (FMO)
Asian Development Bank (ADB)
International Finance Corporation (IFC)

------------

# Compare to the Labeled Data

In [14]:
feedly = pd.read_pickle('../../Data/Feedly_Processed_DF_cleaned.pkl')

In [18]:
labels = pd.read_excel('../../Data/SetupData/Feedly_Labeled_Data.xlsx')

In [19]:
labels = labels[labels.article_id.isin(feedly.article_id)]
print(labels.shape)

(433, 16)

-----------

## Projects

**Valid EWS HyperLink**

We have some repeat projects

In [20]:
labels[(labels['EWS hyperlink'].notnull()) & (labels['EWS hyperlink'].str.contains('//ews')) ]['EWS hyperlink'].value_counts().head()

https://ewsdata.rightsindevelopment.org/projects/20150676-tanap-trans-anatolian-natural-gas-pipeline/                                                                                                                                                                                                 16
https://ewsdata.rightsindevelopment.org/projects/50410-001-asean-distributed-power-project-initial-poverty-a/                                                                                                                                                                                          6
https://ewsdata.rightsindevelopment.org/projects/00057-bangladesh-bhola-ipp/                                                                                                                                                                                                                           6
https://ewsdata.rightsindevelopment.org/projects/000015-bangladesh-natural-gas-infrastructure-and-efficie/; https://ewsdata.rightsindevelopment.org/projects/0003-bangladesh-distribution-system-upgrade-and-expans/; https://ewsdata.rightsindevelopment.org/projects/00057-bangladesh-bhola-ipp/     4
https://ewsdata.rightsindevelopment.org/projects/p146330-ng-electricity-transmission-project/                                                                                                                                                                                                          3
Name: EWS hyperlink, dtype: int64

We have this Many Unique Projects that were matched to Articles

In [21]:
labels[(labels['EWS hyperlink'].notnull()) & (labels['EWS hyperlink'].str.contains('//ews')) ]['EWS hyperlink'].nunique()

41

In [22]:
project_labeled_data = labels.copy(deep=True)
project_labeled_data = project_labeled_data[project_labeled_data.Matched.notnull()]
print(project_labeled_data.shape)

(112, 16)

### Clean the ID Columns for unmatched Projects

In [23]:
project_labeled_data.loc[project_labeled_data.Matched == 0,'Projects(EWSProjectID)'] = np.nan
project_labeled_data.loc[project_labeled_data.Matched == 0,'EWS Project Name'] = np.nan
project_labeled_data.loc[project_labeled_data.Matched == 0,'EWS hyperlink'] = np.nan

**Process to Check How Many We can Match **

In [24]:
project_labels = project_labeled_data[project_labeled_data.Matched ==1]
project_labels = project_labels[project_labels['EWS hyperlink'].str.contains('https://ews')]

In [25]:
project_ids = []
for i in project_labels['Projects(EWSProjectID)']:
    project_ids += [j.strip() for j in  i.split(',')]

In [26]:
project_ids = list(set(project_ids))
print(len(project_ids))

46

In [27]:
print(len(set(project_ids) & set(projects.ProjectNumber.unique())), 'are matched')

46 are matched

-----------

# Sector

```Communications
Construction
Hydropower
Infrastructure
Education and Health
Law and Government
Energy
Agriculture and Forestry
Finance
Climate and Environment
Humanitarian Response
Water and Sanitation
Industry and Trade
Mining
Technical Cooperation
Transport```

In [28]:
def clean(x):
    try:
        return x.lower().strip()
    except:
        return 'NA'

In [29]:
sector_data = labels[labels.Sectors.notnull()].copy(deep=True)
sector_data.loc[:,'cl_Sector'] = sector_data.Sectors.apply(clean)

sector_dict={0:'MISC','not a project':'MISC','NA':'MISC'}
for k in sector_dict:
    sector_data.loc[sector_data.cl_Sector == k, 'cl_Sector'] = sector_dict[k]

In [30]:
sector_data[['Sectors','cl_Sector']].head()

                 Sectors              cl_Sector
0         Infrastructure         infrastructure
1                 Energy                 energy
3              Transport              transport
4  Construction, Finance  construction, finance
5  Construction, Finance  construction, finance

In [31]:
sector_data.cl_Sector.value_counts(dropna=False)

energy                                                84
finance                                               40
infrastructure                                        38
transport                                             29
water and sanitation                                  28
education and health                                  12
MISC                                                  11
industry and trade                                    10
communications                                         9
construction, finance                                  6
hydropower                                             4
water and sanitation, climate                          3
agriculture and forestry, industry and trade           3
finance, energy                                        3
infrastructure, transport                              2
agriculture and forestry                               2
transport, industry and trade                          2
finance, education and health                          1
energy, transport                                      1
humanitarian response                                  1
infrastructure, finance                                1
energy, finance, industry and trade                    1
transport, water and sanitation                        1
infrastructure, communications, trade and industry     1
finance, construction,industry and trade               1
energy, construction, hydropower                       1
transport, infrastructure                              1
Name: cl_Sector, dtype: int64

In [32]:
sector_data['top_sector'] = [i.split(',')[0] for i in sector_data.cl_Sector]

In [33]:
sector_data.top_sector.value_counts()

energy                      87
finance                     45
infrastructure              42
transport                   33
water and sanitation        31
education and health        12
MISC                        11
industry and trade          10
communications               9
construction                 6
agriculture and forestry     5
hydropower                   4
humanitarian response        1
Name: top_sector, dtype: int64

----------

## Banks

```
Asian Infrastructure Investment Bank (AIIB)
African Development Bank (AFDB)
Asian Development Bank (ADB)
Green Climate Fund (GCF)
New Development Bank (NDB)
European Investment Bank (EIB)
World Bank (WB)
International Finance Corporation (IFC)
Inter-American Investment Corporation (IIC)
Netherlands Development Finance Company (FMO)
Inter-American Development Bank (IADB)
Multilateral Investment Guarantee Agency (MIGA)
European Bank for Reconstruction and Development (EBRD)
```

In [34]:
banks_data = labels[labels.Bank1.notnull()]
banks_data.Bank1 = banks_data.Bank1.apply(clean)
banks_data.Bank2 = banks_data.Bank2.apply(clean)

In [35]:
Counter(banks_data.Bank1.tolist() + banks_data.Bank2.tolist())

Counter({'NA': 422,
         'adb': 210,
         'afdb': 81,
         'aiib': 49,
         'ebrd': 68,
         'eib': 15,
         'gcf': 1,
         'idb': 5,
         'ifc': 2,
         'indonesia': 1,
         'jica': 3,
         'pakistan': 1,
         'wb': 8})

---------

## Country

In [36]:
country_data = labels[labels.Country1.notnull()]
country_data.is_copy = False
country_data.Country1 = country_data.Country1.apply(clean)
country_data.Country2 = country_data.Country2.apply(clean)

In [37]:
country_data.Country1.value_counts()

india                                                                                                       70
philippines                                                                                                 24
pakistan                                                                                                    20
turkey                                                                                                      20
bangladesh                                                                                                  19
nigeria                                                                                                     17
mongolia                                                                                                    10
egypt                                                                                                        9
sri lanka                                                                                                    9
liberia                                                                                                      8
thailand                                                                                                     8
indonesia                                                                                                    7
nepal                                                                                                        6
ukraine                                                                                                      5
rwanda                                                                                                       5
ghana                                                                                                        5
armenia                                                                                                      5
papua new guinea                                                                                             5
azerbaijan                                                                                                   5
georgia                                                                                                      5
tajikistan                                                                                                   4
cambodia                                                                                                     4
romania                                                                                                      3
afghanistan                                                                                                  3
zimbabwe                                                                                                     3
china                                                                                                        3
vietnam                                                                                                      2
jordan                                                                                                       2
turkenistan                                                                                                  2
argentina                                                                                                    2
serbia                                                                                                       2
ecuador                                                                                                      2
zambia                                                                                                       2
kiribati                                                                                                     2
bulgaria                                                                                                     2
montenegro                                                                                                   2
lebanon                                                                                                      2
kenya                                                                                                        2
sudan                                                                                                        2
albania                                                                                                      2
gambia                                                                                                       1
malawi                                                                                                       1
georgia, ukraine                                                                                             1
kyrgyzstan                                                                                                   1
morocco                                                                                                      1
uzbekistan                                                                                                   1
somalia                                                                                                      1
tunisia                                                                                                      1
finland                                                                                                      1
swaziland                                                                                                    1
bosnia                                                                                                       1
micronesia                                                                                                   1
kazakhstan                                                                                                   1
botswana, ghana, kenya, zambia, lesotho, senegal, côte d’ivoire, nigeria, uganda, malawi, gabon and togo     1
china, pakistan                                                                                              1
angola                                                                                                       1
myanmar                                                                                                      1
iraq                                                                                                         1
ghana, ethiopia, malawi, nigeria, mozambique and burkina faso.                                               1
greece                                                                                                       1
indina                                                                                                       1
ethiopia, kenya, nigeria, tanzania, uganda                                                                   1
turkey, greece, croatia                                                                                      1
fiji                                                                                                         1
maldives                                                                                                     1
morocco, tunisia                                                                                             1
global                                                                                                       1
greek                                                                                                        1
jamaica                                                                                                      1
cambodia, mongolia, tajikistan                                                                               1
japan                                                                                                        1
timor-leste                                                                                                  1
albania, greece, italy                                                                                       1
bangladesh, india                                                                                            1
turkey, azerbaijan, georgia                                                                                  1
burkina faso                                                                                                 1
africa                                                                                                       1
nauru                                                                                                        1
pacific region                                                                                               1
asia-pacific                                                                                                 1
Name: Country1, dtype: int64

In [38]:
country_data = country_data[country_data.Country1 != 'NA']
print(country_data.shape)

(350, 16)

In [39]:
country_data = country_data.drop('Country2',axis=1)

## Clean files

In [40]:
drop_list = ['DK_ADMIN_TRANSFERRED_CSV','HyperLink']

In [59]:
output_files = {}
for df in [('banks',banks_data),( 'sectors',sector_data), ('countries',country_data),( 'projects',project_labeled_data)]:
    out_df = df[1].drop(drop_list, axis=1).copy()
    if df[0] == 'banks':
        out_df = out_df.drop(['Sectors','Country1','Country2','Matched','Projects(EWSProjectID)','EWS Project Name',
                             'EWS hyperlink'],axis=1)
    if df[0] == 'sectors':
        out_df = out_df.drop(['Bank1','Bank2','Country1','Country2','Matched','Projects(EWSProjectID)','EWS Project Name',
                             'EWS hyperlink'],axis=1)
    if df[0] == 'countries':
        out_df = out_df.drop(['Bank1','Bank2','Sectors','Matched','Projects(EWSProjectID)','EWS Project Name',
                             'EWS hyperlink'],axis=1)
    if df[0] == 'projects':
        out_df = out_df.drop(['Bank1','Bank2','Sectors','Country2','Country1'],axis=1)
        out_df.rename(columns={"Projects(EWSProjectID)":"ProjectNumber"},inplace=True) 

    output_files[df[0]] = out_df

    #drop admin cols etc

In [49]:
print(output_files['banks'].shape)
output_files['banks'].head()

(433, 7)

,article_id,published,title,url,feed_label,Bank1,Bank2
0,10f9ed2,2018-01-11,ADB Provides Support for Three Infrastructure ...,http://moderndiplomacy.eu/2018/01/11/adb-provi...,NEWS ADB - All Streams,adb,NA
1,c0eece9b,2018-05-13,ADB Helps Inaugurate New Power Distribution Ne...,http://feedproxy.google.com/~r/adb_news/~3/2My...,NEWS ADB - All Streams,adb,NA
3,d1d79dd8,2018-02-20,ADB Provides $360 Million for Rolling Stock to...,http://feedproxy.google.com/~r/adb_news/~3/v9s...,NEWS ADB - All Streams,adb,NA
4,f0d65e5,2018-02-25,ADB provides financing to Thailand's B.Grimm P...,https://www.dealstreetasia.com/stories/adb-b-g...,NEWS ADB - All Streams,adb,NA
5,4a557358,2018-02-26,ADB's $235m loan to support B.Grimm Power expa...,https://www.power-technology.com/news/adbs-235...,NEWS ADB - All Streams,adb,NA

In [50]:
print(output_files['sectors'].shape)
output_files['sectors'].head()

(296, 8)

,article_id,published,title,url,feed_label,Sectors,cl_Sector,top_sector
0,10f9ed2,2018-01-11,ADB Provides Support for Three Infrastructure ...,http://moderndiplomacy.eu/2018/01/11/adb-provi...,NEWS ADB - All Streams,Infrastructure,infrastructure,infrastructure
1,c0eece9b,2018-05-13,ADB Helps Inaugurate New Power Distribution Ne...,http://feedproxy.google.com/~r/adb_news/~3/2My...,NEWS ADB - All Streams,Energy,energy,energy
3,d1d79dd8,2018-02-20,ADB Provides $360 Million for Rolling Stock to...,http://feedproxy.google.com/~r/adb_news/~3/v9s...,NEWS ADB - All Streams,Transport,transport,transport
4,f0d65e5,2018-02-25,ADB provides financing to Thailand's B.Grimm P...,https://www.dealstreetasia.com/stories/adb-b-g...,NEWS ADB - All Streams,"Construction, Finance","construction, finance",construction
5,4a557358,2018-02-26,ADB's $235m loan to support B.Grimm Power expa...,https://www.power-technology.com/news/adbs-235...,NEWS ADB - All Streams,"Construction, Finance","construction, finance",construction

In [51]:
print(output_files['countries'].shape)

output_files['countries'].head()

(350, 6)

,article_id,published,title,url,feed_label,Country1
0,10f9ed2,2018-01-11,ADB Provides Support for Three Infrastructure ...,http://moderndiplomacy.eu/2018/01/11/adb-provi...,NEWS ADB - All Streams,cambodia
1,c0eece9b,2018-05-13,ADB Helps Inaugurate New Power Distribution Ne...,http://feedproxy.google.com/~r/adb_news/~3/2My...,NEWS ADB - All Streams,afghanistan
3,d1d79dd8,2018-02-20,ADB Provides $360 Million for Rolling Stock to...,http://feedproxy.google.com/~r/adb_news/~3/v9s...,NEWS ADB - All Streams,bangladesh
4,f0d65e5,2018-02-25,ADB provides financing to Thailand's B.Grimm P...,https://www.dealstreetasia.com/stories/adb-b-g...,NEWS ADB - All Streams,thailand
5,4a557358,2018-02-26,ADB's $235m loan to support B.Grimm Power expa...,https://www.power-technology.com/news/adbs-235...,NEWS ADB - All Streams,thailand

In [61]:
print(output_files['projects'].shape)

output_files['projects'].head()

(112, 9)

,article_id,published,title,url,feed_label,ProjectNumber,EWS Project Name,EWS hyperlink,Matched
0,10f9ed2,2018-01-11,ADB Provides Support for Three Infrastructure ...,http://moderndiplomacy.eu/2018/01/11/adb-provi...,NEWS ADB - All Streams,"ADB-41123-015, ADB-48158-001, ADB-41435-053",Road Network Improvement Project (formerly Sec...,https://ewsdata.rightsindevelopment.org/projec...,1.0
1,c0eece9b,2018-05-13,ADB Helps Inaugurate New Power Distribution Ne...,http://feedproxy.google.com/~r/adb_news/~3/2My...,NEWS ADB - All Streams,ADB-47282-001,Energy Supply Improvement Investment Program (...,https://ewsdata.rightsindevelopment.org/projec...,1.0
3,d1d79dd8,2018-02-20,ADB Provides $360 Million for Rolling Stock to...,http://feedproxy.google.com/~r/adb_news/~3/v9s...,NEWS ADB - All Streams,ADB-50312-003,Railway Rolling Stock Operations Improvement P...,https://ewsdata.rightsindevelopment.org/projec...,1.0
4,f0d65e5,2018-02-25,ADB provides financing to Thailand's B.Grimm P...,https://www.dealstreetasia.com/stories/adb-b-g...,NEWS ADB - All Streams,ADB-50410-001,ASEAN Distributed Power Project: Initial Pover...,https://ewsdata.rightsindevelopment.org/projec...,1.0
5,4a557358,2018-02-26,ADB's $235m loan to support B.Grimm Power expa...,https://www.power-technology.com/news/adbs-235...,NEWS ADB - All Streams,ADB-50410-001,ASEAN Distributed Power Project: Initial Pover...,https://ewsdata.rightsindevelopment.org/projec...,1.0

In [47]:
for k in output_files:
    output_files[k].to_csv('../../Data/Labeled_Data/'+k+'.csv',index=False)

-----------------

## Sanity Check

In [98]:
idx = 40
test = output_files['projects'].iloc[idx]
test

article_id                                                   11e77947
published                                         2018-04-26 00:00:00
title               EBRD declares effective 218 mln euro loan for ...
url                 https://seenews.com/news/ebrd-declares-effecti...
feed_label                                    NEWS EBRD - All streams
ProjectNumber                                              EBRD-48132
EWS Project Name              KESH Restructuring Project (EBRD-48132)
EWS hyperlink       https://ewsdata.rightsindevelopment.org/projec...
Matched                                                             1
Name: 51, dtype: object

In [99]:
feedly[feedly.article_id == test.article_id ]

,article_id,title,url,keep,feed_label,content,published,summary,scraped_content,article_text,article_keywords,article_text_len,top_lang
81,11e77947,EBRD declares effective 218 mln euro loan for ...,https://seenews.com/news/ebrd-declares-effecti...,True,NEWS EBRD - All streams,NaN,2018-04-26 06:14:54,"<table border=""0"" cellspacing=""3"" cellpadding=...",(EBRD declares effective 218 mln euro loan for...,EBRD declares effective 218 mln euro loan for ...,"[ebrd, declares, 218, sector, mln, albanias, m...",1994,en

In [100]:
projects[projects.ProjectNumber == test.ProjectNumber]

,EWS ID,ProjectNumber,Published,Bank Risk Rating,Project Status,EWS URL,Detailed Analysis URL,Project Name,City,Country Count,...,Sector 7,Last Edited,Date Scraped,Date Disclosed,Board Date,Source URL,Project Cost,Investment Amount,Project Description,Contact Information
1286,19153,EBRD-48132,Published,B,Approved,https://ews.rightsindevelopment.org/projects/4...,NaN,KESH Restructuring Project,NaN,1.0,...,NaN,8/10/17,1/13/17,3/22/16,6/22/16,http://www.ebrd.com/work-with-us/projects/psd/...,246.02,246.02,This project finances a comprehensive program ...,"Ani Spahiu, Taulant Hoxha\r\rspahiua@kesh.al, ..."

--------------